<div class="group mt-5">
  <label class="text-sm text-neutral-darkest group-focus-within:text-brand-blue">{{label}}</label>
  <input [type]="type" [formControl]="control" placeholder="{{label}}" class="mt-1 w-full px-3 py-2 bg-white text-neutral-clear
  border border-neutral-light rounded-md text-md placeholder-neutral-clear
  focus:outline-none focus:border-brand-light focus: text-neutral-darkest
  disabled:bg-neutral-light disabled:text-neutral-dark disabled:shadow-none
  invalid:border-brand-red invalid:text-brand-red
  "/>
</div>
